@font-face {
    font-family: "ShareTech";
    src: url(../fonts/ShareTech/Share-Tech-CYR.otf);
}

@font-face {
    font-family: "ShareTech Bold";
    src: url(../fonts/ShareTech/Share-Tech-CYR-Bold.otf);
}

@font-face {
    font-family: "ShareTech Italic";
    src: url(../fonts/ShareTech/Share-Tech-CYR-Italic.otf);
}

@font-face {
    font-family: "ShareTech Italic-Bold";
    src: url(../fonts/ShareTech/Share-Tech-CYR-Italic-Bold.otf);
}