/* Определение переменных для цветов */
:root {
    --color-blue: rgb(5, 75, 158);
    --color-blue-light: rgb(7, 111, 234);
    --color-blue-dark: rgb(5, 75, 158);

    --color-orange: rgb(230, 59, 25);
    --color-orange-light: rgb(255, 95, 27);
    --color-orange-light-tran: rgba(255, 95, 27, 0.5);
    --color-orange-dark: rgb(179, 45, 19);

    --color-clear: rgba(0, 0, 0, 0);
    --color-white: rgb(240, 240, 240);
    --color-white-dark: rgb(236, 236, 236);
    --color-gray: rgb(129, 133, 136);
    --color-black: rgb(26, 26, 26);
    --color-black-light: rgb(30, 30, 30);
}

/* Стили для светлой темы */
[data-theme="light"] {
    --background: var(--color-white);
    --text-color: var(--color-black);
    --color-main: var(--color-orange);
    --color-main-light: var(--color-orange-light);
    --color-main-dark: var(--color-orange-dark);

    --color-scrollbar-thumb: rgb(168, 168, 168, 0.25);
    --color-scrollbar-thumb-hover: rgb(151, 153, 155);
    --color-scrollbar-thumb-active: rgb(129, 129, 129);
    
    --color-background-second: var(--color-white-dark);

    --shadow:
        -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
        .5rem .5rem 1rem hsl(0 0% 50% / .5);
    
    --shadow-in-box:
        inset .5rem .5rem 1rem hsl(0 0% 50% / .5),
        inset -.5rem -.5rem 1rem hsl(0 0% 100% / .75);
}

/* Стили для тёмной темы */
[data-theme="dark"] {
    --background: var(--color-black);
    --text-color: var(--color-white);
    --color-main: var(--color-orange);
    --color-main-light: var(--color-orange-light);
    --color-main-dark: var(--color-orange-dark);
    
    --color-scrollbar-thumb: rgb(129, 133, 136, 0.25);
    --color-scrollbar-thumb-hover: rgb(169, 175, 179);
    --color-scrollbar-thumb-active: rgb(221, 221, 221);

    --color-background-second: var(--color-black-light);

    --shadow:
        -.5rem -.5rem 1rem hsla(0, 0%, 21%, 0.384),
        .5rem .5rem 1rem hsla(0, 0%, 0%, 0.493);

    --shadow-in-box:
        inset .5rem .5rem 1rem hsla(0, 0%, 0%, 0.493),
        inset -.5rem -.5rem 1rem hsla(0, 0%, 21%, 0.384);
}